{% extends 'layouts/main.html' %}
{% block title %}Code{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Code</h1>
</div>

<p class="lead">The project's code is available at <a href="https://github.com/elapuestojoe/ZikNet" target="_blank">Github</a></p>

<p class="lead">This website's code is also available at <a href="https://github.com/elapuestojoe/ziknet-trends" target="_blank">Github</a></p>

<p class="lead">Random photo:</p>
<img src="https://picsum.photos/800/400/?random"></img>
{% endblock %}