{% extends 'layouts/main.html' %}
{% block title %}Code{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Code</h1>
</div>

<p class="lead">The project's code is available at <a href="https://github.com/elapuestojoe/ziknet-trends-backend" target="_blank">Github</a></p>

<p class="lead">This website's code is also available at <a href="https://github.com/elapuestojoe/ziknet-trends" target="_blank">Github</a></p>

<div class="page-header">
  <h1>Previous projects</h1>
</div>
<p class="lead">A Social Network Aedes Aegypti Agent-Based Simulation <a href="http://chipdelmal.github.io/SoNA3BS/index.html"> SoNA3BS</a>, developed by <a href="https://chipdelmal.github.io/">Ph.D. Héctor M. Sánchez C.</a><br>We intend to use this system to simulate Zika epidemics and determine optimal control strategies.</p>

<div class="page-header">
  <h1>Future projects</h1>
  <p class="lead"><a href="https://github.com/elapuestojoe/ziknet-epidemics">Ziknet-Epidemics</a>: A framework that simulates Zika epidemics to determine the effect of using different control strategies</p>
</div>

<div class="page-header">
  <h3>A random photo</h3>
</div>
<img src="https://picsum.photos/800/400/?random" style="max-width: 100%"></img>
{% endblock %}