{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Predict using your data.</h1>
</div>

<p class="lead">Insert your own data in the text area, we expect a csv with "Searches,Cases" as a header.<br>

If you don't have data but would like to try the LSTM network, you can test it with 
</p>

<form action="{{ url_for('predictOutput')}}" method="post">
    {{ form.hidden_tag() }}
<!--      <textarea name="csvFile" rows="4" cols="50">
		Searches,Cases

	</textarea> -->
	{{ form.csvText(cols="35", rows="10") }}<br>
    {{ form.habitants.label}} {{ form.habitants(required='required', type="number", min="1")}}
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}