{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Development Team</h1>
</div>
<!-- 
<p class="lead">Ziknet Trends is a project developed at ITESM to predict the number of Zika cases in Mexico using climate data and Google Trends.</p> -->
<!-- <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
 -->

<p><img id="invPhoto" src="static/photos/Dr_Vallejo.jpg"></img>
	<a href="https://www.researchgate.net/profile/Edgar_Vallejo"> Ph.D. Edgar Emmanuel Vallejo Clemente </a></p>

<p><img id="invPhoto" src="static/photos/Dr_Sanchez.jpg"></img>
	<a href="https://chipdelmal.github.io/">Ph.D. Héctor M. Sánchez C. </a></p>


<p><img id="invPhoto" src="static/photos/Kevin_Islas.jpg"></img>  M.S.C. Kevin Islas Abud </p>

{% endblock %}