
/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/
html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

#invPhoto {
	width: 100px;
	height: 100px;
}
/* Main elements end */

#graphPred {
  display: inline-block;
  max-width: 45%;
}

#graphCenter {
  display: block; 
  margin: auto;
  max-width: 90%;
}
h3 {
  font-style: bold;
}
li {
  font-size: 16px;
}

/*****************************************************************************
 * Various other styles
 ****************************************************************************/

/* Various other styles end */
